@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './variables';


/* @font-face {
  font-family: RobotoSlab;
  font-weight: normal;
  src: url(~assets/font/RobotoSlab.ttf) format("opentype");
}
 */
